<section id="booking-details">
	<div id="f">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-lg-offset-1">
					<h1>DEINE BUCHUNG</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-10 col-lg-offset-1">
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							<p class="list-group-text" id="from">{{booking.from|date:'dd.MM.yyyy'}}</p>
							<p class="list-group-text" id="to">{{booking.to|date:'dd.MM.yyyy'}}</p>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>