<section id="registration">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				<h1>REGISTRIERUNG</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				<div class="alert alert-danger" ng-show="!isConfirmed">Diese
					Registrierung ist ung&uuml;ltig!</div>
				<div class="alert alert-success" ng-show="isConfirmed">Ihre
					Registrierung ist erfolgreich abgeschlossen!</div>
			</div>
			<a id="login-button" href="app.html" class="btn btn-lg btn-success"><span
				class="glyphicon glyphicon-arrow-right"></span> ZUM LOGIN</a>
		</div>
	</div>
</section>