<section id="booking-confirmation">
	<div class="container" ng-form="form">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				<h1>IHRE RESERVIERUNG</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				<h2>Vielen Dank f&uuml;r Ihre Reservierung!</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				<h2>Wie geht es weiter?</h2>
				<h4>Bitte &uuml;berweisen Sie die Anzahlung von 20 &euro; innerhalb von 7 Tagen auf folgende Kontoverbindung:</h4>
				<h4>Jens Laufer</h4>
				<h4>IBAN: DE93500105175409570084</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				<h4>Haben Sie noch Fragen? Rufen Sie mich einfach an:</h4>
				<h4>0172-8443048</h4>
			</div>
		</div>
	</div>
</section>